{% extends 'main.html' %}

{% load static %}


  {% block content %}

    <section id="menu">

      <div class="user-detail">
        <img src="{{ request.user.lecturer.imageURL }}">
        <div class="user-info">
          <h2>{{ request.user.first_name | title }} {{ request.user.last_name | title }}</h3>
          <h3>[{{ request.user.username | upper}}]</h3>
        </div>
      </div>

      <div class="nav">
        <li>
          <i class="fa-solid fa-file-pen"></i>
          <a href="{% url 'dashboard:lecturer:questions' %}">Questions</a>
        </li>
        <li>
          <i class="fa-solid fa-check-to-slot"></i>
          <a href="{% url 'dashboard:lecturer:show-result' %}">Show Results</a>
        </li>
        <li>
          <i class="fa-solid fa-marker"></i>
          <a href="{% url 'dashboard:lecturer:attendance' %}">Attendance</a>
        </li>
        <li>
          <i class="fa-solid fa-file-arrow-down"></i>
          <a href="{% url 'dashboard:lecturer:download-result' %}">Download Result</a>
        </li>
        <li>
          <i class="fa-solid fa-right-from-bracket"></i>
          <a href="{% url 'account:logout' %}">Logout</a>
        </li>
      </div>

    </section>



    <section id="interface">
      
      <div class="bar">
        <div>
          <i id="menu-btn" class="fas fa-bars"></i>
        </div>
        <div class="status">
          <img src="{% static 'img/logo.png' %}">
        </div>
      </div>

                  
      <div id="interface-board" class="available-test">
        
        {% block elements %}


        {% endblock elements %}

      </div>
        
    </section>



    <script type="text/javascript">
      $('#menu-btn').click(function(){
        $('#menu').toggleClass('active')
      })
    </script>

  {% endblock content %}