<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<title>FUOYE || CBT</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
	
</head>
<body>

	<header id="header" class="">
		<div class="title-div">
			<h1 id="title"> FEDERAL UNIVERSITY OYE EKITI <br>Computer Base Test (CBT) System</h1> 
		</div>	
	</header>

    {% block content %}

    
      
    {% endblock content %}

    <footer class="foot">
		© <span id="year"></span>: All Rights Reserved. 
    	<br> Designed and Developed by Adesanmi Dayo PraiseGod #CSC320 project
	</footer>

	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
