
{% extends 'account/main.html' %}


	{% block content %}

	  <style type="text/css">
	  	.login-btn {
	  		border-radius: 5px;
	  	}
	  	.fgt-pwd {
	  		margin-bottom: 10px;
	  	}
	  	.log {
	  		margin-top: 10px;
	  	}
	  	.alert-error {
			text-align: center;
			background: #EECCCC;
			color: #880000;
			padding: 10px;
		}
		.alert-success {
			text-align: center;
			background: #CCEECC;
			color: #008800;
			padding: 10px;
		}
	  </style>

	  <section>

	    <div class="form-div">

	      <h2 class="log">Student Registration</h2>

	      {% if messages %}
			{% for message in messages %}
				<p class="alert-{{message.tags}}" id="msg">{{ message }}</p>
			{% endfor %}
		  {% endif %}
	
		  <form method="post" enctype="multipart/form-data">
			{% csrf_token %}

			{{ form.as_p }}
			
			<button class="login-btn" type="submit">Register</button>
		  </form>

		  <p class="fgt-pwd">
		   <small>Already have an account?
		   	<a href="{% url 'account:login' %}">Login</a>
		   </small>
		  </p>

	  </section>

	{% endblock content %}
	
