
{% extends 'dashboard/student-dashboard.html' %}


  {% block elements %}

  <style type="text/css">
      #menu .nav li:nth-child(1) {
          border-left: 6px solid var(--secondaryText);
      }
      #menu .nav li:nth-child(2) {
          border-left: none;
      }
      #menu .nav li:nth-child(3) {
          border-left: none;
      }
  </style>

	<h2>Available Tests</h2>

		{% if questions %}

		<div class="test-list">

			<table width="100%" class="test-table">

				<thead>
					<tr>
						<td>S/N</td>
						<td>Course Title</td>
						<td>Course Code</td>
						<td>Date</td>
						<td>Status</td>
					</tr>
				</thead>

				<tbody>

					{% for question in questions %}
						{% if question.is_done %}
							<tr class="status-bg-done">
								<td>{{ forloop.counter }}</td>
								<td>{{ question.course_title | title }}</td>
								<td>{{ question.course_code | upper }}</td>
								<td>{{ question.test_date }}</td>
								<td class="status-done">
									<i class="fa-solid fa-check"></i> Done! 
								</td>
				        </td>
							</tr>
						{% else %}
							<tr class="status-bg-undone">
								<td>{{ forloop.counter }}</td>
								<td>{{ question.course_title | title }}</td>
								<td>{{ question.course_code | upper}}</td>
								<td>{{ question.test_date }}</td>
								<td class="status-undone">
				          <a href="{% url 'dashboard:student:write-test' question.id %}">
				            <i class="fa-solid fa-file-pen"></i> Do now
				          </a>
				        </td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</tbody>
			</table>

			{% else %}
				<h2>No Test available! Check back later.</h2>

		</div>

		{% endif %}

  {% endblock elements %}
